Repository tropicsquare/libtropic, pull requests merged in 2025-07, with the labels that each got.

#122 Fixed file locking in test runner
  scripts/test_runner/lt_test_runner/lt_lock_device.py
Labels: scripts

#123 test(handshake): initial commit.
  CMakeLists.txt
  include/libtropic_functional_tests.h
  tests/functional/lt_test_handshake_req_reversible.c
Labels: functional tests

#131 Clang action trigger fix
  .github/workflows/clang_format_check.yml
Labels: ci

#138 Fix lt_ret_t values
  CHANGELOG.md
  include/libtropic_common.h
  src/libtropic.c
Labels: bug

#136 Refactor lt_test_dump_i_config
  CMakeLists.txt
  include/libtropic_functional_tests.h
  tests/functional/lt_test_dump_i_config.c
  tests/functional/lt_test_read_i_config_reversible.c
Labels: functional tests

#129 Refactor lt_test_dump_cert_store
  CMakeLists.txt
  include/libtropic_functional_tests.h
  tests/functional/lt_test_dump_cert_store.c
  tests/functional/lt_test_read_cert_store_reversible.c
Labels: functional tests

#139 Fix model cfg chip id parsing
  CHANGELOG.md
  tests/model_based_project/create_model_cfg.py
Labels: scripts

#142 remove lt_test_engineering_sample_01_ping
  .github/workflows/integration_tests.yml
  CMakeLists.txt
  include/libtropic_functional_tests.h
  tests/functional/lt_test_engineering_sample_01_ping.c
Labels: functional tests

#141 Refactor lt_test_dump_r_config
  CMakeLists.txt
  include/libtropic_functional_tests.h
  tests/functional/lt_test_dump_r_config.c
  tests/functional/lt_test_read_r_config_reversible.c
Labels: functional tests

#130 Add struct static assert
  include/libtropic_common.h
  include/tools.h
Labels: enhancement

#134 Refactor lt_ex_hello_world
  CHANGELOG.md
  examples/lt_ex_hello_world.c
  include/libtropic_examples.h
Labels: examples

#135 refactor lt_ex_hello_world_separate_API
  CHANGELOG.md
  examples/lt_ex_hello_world_separate_API.c
  include/libtropic_examples.h
Labels: examples

#144 Fix r_mem_data_read API
  CHANGELOG.md
  include/libtropic.h
  include/libtropic_common.h
  include/lt_l3.h
  src/libtropic.c
  src/lt_l3.c
  src/lt_l3_api_structs.h
Labels: bug

#161 use LIBT_DEBUG instead of NDEBUG
  CHANGELOG.md
  hal/port/unix/lt_port_raspberrypi_wiringpi.c
  hal/port/unix/lt_port_unix_tcp.c
Labels: enhancement

#145 Fix lt_test_r_mem
  .github/workflows/integration_tests.yml
  CMakeLists.txt
  include/libtropic_functional_tests.h
  tests/functional/lt_test_r_mem.c
  tests/functional/lt_test_rev_r_mem.c
Labels: functional tests

#158 Add test cleanup
  CMakeLists.txt
  include/libtropic_functional_tests.h
  include/libtropic_logging.h
  scripts/test_runner/lt_test_runner/__main__.py
  scripts/test_runner/lt_test_runner/lt_test_runner.py
  tests/functional/lt_test_common.c
  tests/functional/lt_test_ecc_ecdsa.c
  tests/functional/lt_test_ecc_eddsa.c
  tests/functional/lt_test_ire_read_write_pairing_keys.c
  tests/functional/lt_test_rev_erase_r_config.c
  tests/functional/lt_test_rev_handshake_req.c
  tests/functional/lt_test_rev_ping.c
  tests/functional/lt_test_rev_r_mem.c
  tests/functional/lt_test_rev_read_cert_store.c
  tests/functional/lt_test_rev_read_chip_id.c
  tests/functional/lt_test_rev_read_i_config.c
  tests/functional/lt_test_rev_read_r_config.c
  tests/functional/lt_test_rev_resend_req.c
  tests/functional/lt_test_rev_write_r_config.c
Labels: functional tests

#171 Don't check message length in lt_ecc_ecdsa_sign
  CHANGELOG.md
  include/libtropic.h
  include/lt_l3.h
  src/libtropic.c
  src/lt_l3.c
Labels: bug

#172 Add lt_ecc_ecdsa_sig_verify function
  CHANGELOG.md
  CMakeLists.txt
  hal/crypto/trezor_crypto/lt_crypto_trezor_ecdsa.c
  include/libtropic.h
  src/libtropic.c
  src/lt_ecdsa.h
  vendor/trezor_crypto/CMakeLists.txt
Labels: feature

#174 Refactor lt test ire read write pairing keys
  CMakeLists.txt
  include/libtropic_functional_tests.h
  tests/functional/lt_test_ire_pairing_key_slots.c
Labels: functional tests

#159 Add strict compilation flags
  CHANGELOG.md
  CMakeLists.txt
  include/libtropic_common.h
  src/lt_asn1_der.c
  src/lt_l2_api_structs.h
  src/lt_l3_api_structs.h
  tests/functional/lt_test_ecc_ecdsa.c
  tests/model_based_project/CMakeLists.txt
Labels: functional tests, examples

#173 Implement lt_test_rev_ecdsa_sign
  .github/workflows/integration_tests.yml
  CMakeLists.txt
  include/libtropic_functional_tests.h
  tests/functional/lt_test_ecc_ecdsa.c
  tests/functional/lt_test_rev_ecdsa_sign.c
Labels: functional tests

#180 assign buff_len after param check in lt_init()
  src/libtropic.c
Labels: bug

#165 Added a guide to writing func tests
  tests/functional/README.md
Labels: documentation

#183 Refactor: rename STATIC to LT_STATIC
  CHANGELOG.md
  include/libtropic_common.h
  src/lt_l3_process.c
  src/lt_l3_process.h
Labels: enhancement
